# **MÓDULO 14 - Exercício**
# Pré Processamento dos Dados - A primeira etapa Pré Modelagem

Para nossa atividade usaremos uma base de churn também, porém essa base não diz respeito a serviços bancários e sim serviços de internet, telefone e tv - Telecomunicação.

Vamos realizar aqui as etapas de limpeza e tratamento de dados vistos durante a aula, porém aplicados a essa base nova.

In [147]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [149]:
#Lembrem-se sempre de alterar a importação dos dados de acordo com o diretório de vocês.
df = pd.read_csv("CHURN_TELECON_MOD08_TAREFA.csv", delimiter=';')

df.head(10)

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,DSL,No,No,No,Month-to-month,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,DSL,Yes,No,No,One year,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),NaN,1840.75,No
4,9237-HQITU,NaN,0,No,No,2,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,NaN,151.65,Yes
5,9305-CDSKC,NaN,0,No,No,8,Yes,Fiber optic,No,No,Yes,Month-to-month,Electronic check,NaN,820.50,NaN
6,1452-KIOVK,NaN,0,No,Yes,22,Yes,Fiber optic,No,No,Yes,Month-to-month,Credit card (automatic),NaN,1949.40,NaN
7,6713-OKOMC,NaN,0,No,No,10,No,DSL,Yes,No,No,Month-to-month,Mailed check,NaN,301.90,NaN
8,7892-POOKP,NaN,0,Yes,No,28,Yes,Fiber optic,No,Yes,Yes,Month-to-month,Electronic check,NaN,3046.05,NaN
9,6388-TABGU,NaN,0,No,Yes,62,Yes,dsl,Yes,No,No,One year,Bank transfer (automatic),NaN,3487.95,NaN

Legenda dos dados:

*   **CustomerID** : Esse é o ID único de cada cliente nosso da rede de produtos de telecomunicação.

*   **Genero** : O genero dos nossos clientes.

*   **Idoso** : Se nosso cliente tem acima de 60 anos ou não. (Sim = 1 | Não = 0)

*   **Casado** : Se nosso cliente é casado ou não.

*   **Dependents** : Se cliente tem dependentes.

*   **Tempo_como_Cliente** : Tempo em meses que nosso cliente está com a nossa empresa.

*   **PhoneService** : Se ele contratou serviço telefônico com a nossa empresa.

*   **Servico_Internet** : Qual o tipo de serviço de internet contratado.

*   **Servico_Seguranca** : Se ele contratou serviço de segurança com a nossa empresa.

*   **Suporte_Tecnico** : Se já acionou o suporte técnico.

*   **StreamingTV** : Se ele contratou serviço de streaming para TV.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **Tipo_Contrato** : Qual o tipo de contrato dos nossos clientes, se era mensal, anual etc.

*   **PaymentMethod** : Forma de Pagamento.

*   **Pagamento_Mensal** : Quanto o cliente pagava mensalmente.

*   **Total_Pago** : Total já pago pelo cliente para nossa companhia.

*   **Churn** : Nossa coluna mais importante, se nosso cliente nos abandonou ou não.

# 1 - Carregue a base, verifique se os tipos de dados estão de acordo com cada coluna e caso não estejam realize a transformação dos tipos de dados.

In [153]:
#seu código aqui
df.info()

df['Tempo_como_Cliente'] = df['Tempo_como_Cliente'].astype(float)

df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerID          2500 non-null   object
 1   Genero              2488 non-null   object
 2   Idoso               2500 non-null   int64
 3   Casado              2500 non-null   object
 4   Dependents          2500 non-null   object
 5   Tempo_como_Cliente  2500 non-null   int64
 6   PhoneService        1018 non-null   object
 7   Servico_Internet    2500 non-null   object
 8   Servico_Seguranca   2500 non-null   object
 9   Suporte_Tecnico     2500 non-null   object
 10  StreamingTV         2500 non-null   object
 11  Tipo_Contrato       2500 non-null   object
 12  PaymentMethod       2500 non-null   object
 13  Pagamento_Mensal    2175 non-null   float64
 14  Total_Pago          2500 non-null   float64
 15  Churn               2495 non-null   object
dtypes: float64(2), int64(2), object(12)
memory usage: 312.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerID          2500 non-null   object
 1   Genero              2488 non-null   object
 2   Idoso               2500 non-null   int64
 3   Casado              2500 non-null   object
 4   Dependents          2500 non-null   object
 5   Tempo_como_Cliente  2500 non-null   float64
 6   PhoneService        1018 non-null   object
 7   Servico_Internet    2500 non-null   object
 8   Servico_Seguranca   2500 non-null   object
 9   Suporte_Tecnico     2500 non-null   object
 10  StreamingTV         2500 non-null   object
 11  Tipo_Contrato       2500 non-null   object
 12  PaymentMethod       2500 non-null   object
 13  Pagamento_Mensal    2175 non-null   float64
 14  Total_Pago          2500 non-null   float64
 15  Churn               2495 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 312.6+ KB

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,Female,0,Yes,No,1.0,No,DSL,No,No,No,Month-to-month,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34.0,Yes,DSL,Yes,No,No,One year,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2.0,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45.0,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),NaN,1840.75,No
4,9237-HQITU,NaN,0,No,No,2.0,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,NaN,151.65,Yes
5,9305-CDSKC,NaN,0,No,No,8.0,Yes,Fiber optic,No,No,Yes,Month-to-month,Electronic check,NaN,820.50,NaN
6,1452-KIOVK,NaN,0,No,Yes,22.0,Yes,Fiber optic,No,No,Yes,Month-to-month,Credit card (automatic),NaN,1949.40,NaN
7,6713-OKOMC,NaN,0,No,No,10.0,No,DSL,Yes,No,No,Month-to-month,Mailed check,NaN,301.90,NaN
8,7892-POOKP,NaN,0,Yes,No,28.0,Yes,Fiber optic,No,Yes,Yes,Month-to-month,Electronic check,NaN,3046.05,NaN
9,6388-TABGU,NaN,0,No,Yes,62.0,Yes,dsl,Yes,No,No,One year,Bank transfer (automatic),NaN,3487.95,NaN

# 2 - Esse exercício faremos por etapas:
A) Verifique se temos colunas com dados faltantes e traga a % dos dados faltantes por coluna.

In [156]:
#seu código aqui
df[df['Genero'].isnull()]

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
4,9237-HQITU,NaN,0,No,No,2.0,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,NaN,151.65,Yes
5,9305-CDSKC,NaN,0,No,No,8.0,Yes,Fiber optic,No,No,Yes,Month-to-month,Electronic check,NaN,820.50,NaN
6,1452-KIOVK,NaN,0,No,Yes,22.0,Yes,Fiber optic,No,No,Yes,Month-to-month,Credit card (automatic),NaN,1949.40,NaN
7,6713-OKOMC,NaN,0,No,No,10.0,No,DSL,Yes,No,No,Month-to-month,Mailed check,NaN,301.90,NaN
8,7892-POOKP,NaN,0,Yes,No,28.0,Yes,Fiber optic,No,Yes,Yes,Month-to-month,Electronic check,NaN,3046.05,NaN
9,6388-TABGU,NaN,0,No,Yes,62.0,Yes,dsl,Yes,No,No,One year,Bank transfer (automatic),NaN,3487.95,NaN
10,9763-GRSKD,NaN,0,Yes,Yes,13.0,Yes,dsl,Yes,No,No,Month-to-month,Mailed check,NaN,587.45,No
11,7469-LKBCI,NaN,0,No,No,16.0,Yes,No,No internet service,No internet service,No internet service,Two year,Credit card (automatic),NaN,326.80,No
12,8091-TTVAX,NaN,0,Yes,No,58.0,Yes,Fiber optic,No,No,Yes,One year,Credit card (automatic),NaN,5681.10,No
13,0280-XJGEX,NaN,0,No,No,49.0,Yes,Fiber optic,No,No,Yes,Month-to-month,Bank transfer (automatic),NaN,5036.30,Yes
14,5129-JLPIS,NaN,0,No,No,25.0,Yes,Fiber optic,Yes,Yes,Yes,Month-to-month,Electronic check,NaN,2686.05,No
15,3655-SNQYZ,NaN,0,Yes,Yes,69.0,Yes,Fiber optic,Yes,Yes,Yes,Two year,Credit card (automatic),NaN,7895.15,No

In [158]:
df[df['PhoneService'].isnull()]

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
161,0867-MKZVY,Female,0,Yes,No,20.0,NaN,Fiber optic,Yes,No,No,Month-to-month,Electronic check,NaN,1592.35,Yes
162,4482-EWFMI,Female,0,No,No,2.0,NaN,Fiber optic,No,No,No,Month-to-month,Electronic check,NaN,135.20,No
163,4648-YPBTM,Male,0,No,No,53.0,NaN,DSL,No,Yes,No,Two year,Bank transfer (automatic),NaN,3958.25,No
164,2907-ILJBN,Female,0,Yes,Yes,11.0,NaN,No,No internet service,No internet service,No internet service,One year,Mailed check,NaN,233.90,No
165,6345-FZOQH,Male,0,Yes,No,69.0,NaN,No,No internet service,No internet service,No internet service,Two year,Mailed check,NaN,1363.45,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,8883-ANODQ,Female,0,Yes,Yes,68.0,NaN,Fiber optic,No,No,No,Two year,Credit card (automatic),84.40,5746.75,No
1639,4690-LLKUA,Male,1,No,No,17.0,NaN,DSL,No,No,No,Month-to-month,Electronic check,45.05,770.60,Yes
1640,2351-RRBUE,Female,0,Yes,Yes,7.0,NaN,No,No internet service,No internet service,No internet service,One year,Mailed check,20.65,134.05,No
1641,5980-BDHPY,Male,0,Yes,No,72.0,NaN,DSL,Yes,Yes,Yes,Two year,Bank transfer (automatic),87.10,6230.10,No
1642,1498-DQNRX,Female,0,Yes,No,29.0,NaN,No,No internet service,No internet service,No internet service,Month-to-month,Mailed check,19.85,573.05,No

In [160]:
(df.isnull().sum() / len(df)) * 100

customerID             0.00
Genero                 0.48
Idoso                  0.00
Casado                 0.00
Dependents             0.00
Tempo_como_Cliente     0.00
PhoneService          59.28
Servico_Internet       0.00
Servico_Seguranca      0.00
Suporte_Tecnico        0.00
StreamingTV            0.00
Tipo_Contrato          0.00
PaymentMethod          0.00
Pagamento_Mensal      13.00
Total_Pago             0.00
Churn                  0.20
dtype: float64

B) Exclua nessa etapa as linhas das colunas com dados faltantes que você analisar que esse método é o ideal. Justifique o motivo de estar excluindo essas linhas.

In [163]:
#seu código aqui
df.dropna(subset=['Churn'], inplace=True)
df.dropna(subset=['Genero'], inplace=True)

(df.isnull().sum() / len(df)) * 100

# Estou excuindo essas linhas por conta da porcentagem ser muito baixa, gênero com 0.48 e churn com 0.20.

customerID             0.000000
Genero                 0.000000
Idoso                  0.000000
Casado                 0.000000
Dependents             0.000000
Tempo_como_Cliente     0.000000
PhoneService          59.565916
Servico_Internet       0.000000
Servico_Seguranca      0.000000
Suporte_Tecnico        0.000000
StreamingTV            0.000000
Tipo_Contrato          0.000000
PaymentMethod          0.000000
Pagamento_Mensal      12.580386
Total_Pago             0.000000
Churn                  0.000000
dtype: float64

C) Nessa etapa substitua pela média, mediana ou moda as linhas das colunas com valores faltantes que você analisou e entendeu que esse era o melhor método. Não se esqueça de justificar sua escolha.

**Dica variáveis numéricas:** Não se esqueça de verificar a distrbuição dos dados, média e mediana.

**Dica variáveis categóricas:** Caso precise substituir uma variável categórica utilize um gráfico de barras para verificar a que mais aparece e utilizar ela na substituição.
Ou você pode optar por excluir a coluna, mas justifique sua escolha.

Caso opte por substituir você pode utilizar a função fillna:
df['SUACOLUNA'].fillna("VALOR QUE SUBSTITUIRA O NULO", inplace=True)
Ela funcionará como a replace.

In [168]:
#seu código aqui
df['PhoneService'].value_counts(normalize=True) * 100
#fillna: df['SUACOLUNA'].fillna("VALOR QUE SUBSTITUIRA O NULO", inplace=True)

PhoneService
Yes    91.451292
No      8.548708
Name: proportion, dtype: float64

In [170]:
df['Pagamento_Mensal'].mean()

65.60756321839081

In [172]:
df['Pagamento_Mensal'].median()

71.45

In [174]:
fillna: df['Pagamento_Mensal'] = df['Pagamento_Mensal'].fillna(df['Pagamento_Mensal'].mean(), inplace=True)
(df.isnull().sum() / len(df)) * 100

# Aqui, para a variável numérica, decidi substituir pela média por conta de estar parecida com a mediana, e ficar um valor condizente.

C:\Users\dudir\AppData\Local\Temp\ipykernel_26056\3441780534.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fillna: df['Pagamento_Mensal'] = df['Pagamento_Mensal'].fillna(df['Pagamento_Mensal'].mean(), inplace=True)

customerID             0.000000
Genero                 0.000000
Idoso                  0.000000
Casado                 0.000000
Dependents             0.000000
Tempo_como_Cliente     0.000000
PhoneService          59.565916
Servico_Internet       0.000000
Servico_Seguranca      0.000000
Suporte_Tecnico        0.000000
StreamingTV            0.000000
Tipo_Contrato          0.000000
PaymentMethod          0.000000
Pagamento_Mensal       0.000000
Total_Pago             0.000000
Churn                  0.000000
dtype: float64

In [176]:
df['PhoneService'].fillna("Yes", inplace=True)
(df.isnull().sum() / len(df)) * 100

# Aqui, para a variável categórica, escolhi contar a porcentagem de quantos eram Yes e No, e escolhi substituir por Yes porque representava 91% da quantidade total. Gostaria de saber se existe uma maneira de, nesse caso por exemplo, substituir 9 em cada 10 dos dados faltantes por Yes, e 1 em cada 10 por No, para que fique igual está a porcentagem.

C:\Users\dudir\AppData\Local\Temp\ipykernel_26056\379947602.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PhoneService'].fillna("Yes", inplace=True)

customerID            0.0
Genero                0.0
Idoso                 0.0
Casado                0.0
Dependents            0.0
Tempo_como_Cliente    0.0
PhoneService          0.0
Servico_Internet      0.0
Servico_Seguranca     0.0
Suporte_Tecnico       0.0
StreamingTV           0.0
Tipo_Contrato         0.0
PaymentMethod         0.0
Pagamento_Mensal      0.0
Total_Pago            0.0
Churn                 0.0
dtype: float64

In [178]:
df.isnull().sum()

customerID            0
Genero                0
Idoso                 0
Casado                0
Dependents            0
Tempo_como_Cliente    0
PhoneService          0
Servico_Internet      0
Servico_Seguranca     0
Suporte_Tecnico       0
StreamingTV           0
Tipo_Contrato         0
PaymentMethod         0
Pagamento_Mensal      0
Total_Pago            0
Churn                 0
dtype: int64

In [180]:
df.head(10)

,customerID,Genero,Idoso,Casado,Dependents,Tempo_como_Cliente,PhoneService,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,PaymentMethod,Pagamento_Mensal,Total_Pago,Churn
0,7590-VHVEG,Female,0,Yes,No,1.0,No,DSL,No,No,No,Month-to-month,Electronic check,29.850000,29.85,No
1,5575-GNVDE,Male,0,No,No,34.0,Yes,DSL,Yes,No,No,One year,Mailed check,56.950000,1889.50,No
2,3668-QPYBK,Male,0,No,No,2.0,Yes,DSL,Yes,No,No,Month-to-month,Mailed check,53.850000,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45.0,No,DSL,Yes,Yes,No,One year,Bank transfer (automatic),65.607563,1840.75,No
16,8191-XWSZG,F,0,No,No,52.0,Yes,No,No internet service,No internet service,No internet service,One year,Mailed check,65.607563,1022.95,No
17,9959-WOFKT,Male,0,No,Yes,71.0,Yes,Fiber optic,Yes,No,Yes,Two year,Bank transfer (automatic),65.607563,7382.25,No
18,4190-MFLUW,F,0,Yes,Yes,10.0,Yes,DSL,No,Yes,No,Month-to-month,Credit card (automatic),65.607563,528.35,Yes
19,4183-MYFRB,F,0,No,No,21.0,Yes,Fiber optic,No,No,No,Month-to-month,Electronic check,65.607563,1862.90,No
20,8779-QRDMV,Male,1,No,No,1.0,No,DSL,No,No,No,Month-to-month,Electronic check,65.607563,39.65,Yes
21,1680-VDCWW,Male,0,Yes,No,12.0,Yes,No,No internet service,No internet service,No internet service,One year,Bank transfer (automatic),65.607563,202.25,No

# 3 - Verifique se encontramos valores digitados incorretamente, ou com letras maiusculas ou minusculas, ou até mesmo mesmos valores porém escritos de forma dirente e corrija.

In [183]:
#seu código aqui
df['Genero'].unique()

array(['Female', 'Male', 'F', 'M', 'f'], dtype=object)

In [185]:
df['Idoso'].unique()

array([0, 1], dtype=int64)

In [187]:
df['Casado'].unique()

array(['Yes', 'No'], dtype=object)

In [189]:
df['Dependents'].unique()

array(['No', 'Yes'], dtype=object)

In [191]:
df['Tempo_como_Cliente'].unique()

array([ 1., 34.,  2., 45., 52., 71., 10., 21., 12., 58., 49., 30., 47.,
       72., 17., 27.,  5., 46., 11., 70., 63., 13., 69., 43., 15., 25.,
        8., 60., 18., 66.,  9.,  3., 31., 50., 64., 62., 56.,  7., 42.,
       35., 48., 29., 65., 38., 68., 32., 55., 37., 36., 41.,  6.,  4.,
       33., 67., 23., 57., 61., 14., 22., 16., 20., 53., 40., 59., 24.,
       44., 19., 54., 51., 28., 26.,  0., 39.])

In [193]:
df['PhoneService'].unique()

array(['No', 'Yes'], dtype=object)

In [195]:
df['Servico_Internet'].unique()

array(['DSL', 'No', 'Fiber optic', 'dsl'], dtype=object)

In [197]:
df['Servico_Seguranca'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [199]:
df['Suporte_Tecnico'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [201]:
df['StreamingTV'].unique()

array(['No', 'No internet service', 'Yes'], dtype=object)

In [203]:
df['Tipo_Contrato'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [205]:
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [207]:
df['Pagamento_Mensal'].unique()

array([ 29.85,  56.95,  53.85, ...,  98.4 , 100.7 ,  60.45])

In [209]:
df['Total_Pago'].unique()

array([  29.85, 1889.5 ,  108.15, ...,   93.45, 1389.85, 2894.55])

In [211]:
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [213]:
df['Genero'] = df['Genero'].str.upper()
df['Genero'] = df['Genero'].replace('F','FEMALE')
df['Genero'] = df['Genero'].replace('M','MALE')
df['Genero'] = df['Genero'].replace('MALE', 'MASCULINO')
df['Genero'] = df['Genero'].replace('FEMALE','FEMININO')
df['Genero'].unique()

array(['FEMININO', 'MASCULINO'], dtype=object)

In [215]:
df['Servico_Internet'] = df['Servico_Internet'].str.upper()
df['Servico_Internet'] = df['Servico_Internet'].replace('FIBER OPTIC','FIBRA ÓTICA')
df['Servico_Internet'] = df['Servico_Internet'].replace('NO','NÃO')
df['Servico_Internet'].unique()

array(['DSL', 'NÃO', 'FIBRA ÓTICA'], dtype=object)

In [217]:
df['Idoso'] = df['Idoso'].astype(str)
df['Idoso'] = df['Idoso'].str.title()
df['Idoso'] = df['Idoso'].replace('0','Não')
df['Idoso'] = df['Idoso'].replace('1','Sim')
df['Idoso'].unique()

array(['Não', 'Sim'], dtype=object)

In [219]:
df['Casado'] = df['Casado'].replace('Yes','Sim')
df['Casado'] = df['Casado'].replace('No','Não')
df['Casado'].unique()

array(['Sim', 'Não'], dtype=object)

In [221]:
df['Dependents'] = df['Dependents'].replace('Yes','Sim')
df['Dependents'] = df['Dependents'].replace('No','Não')
df['Dependents'].unique()

array(['Não', 'Sim'], dtype=object)

In [223]:
df['Tempo_como_Cliente'] = df['Tempo_como_Cliente'].astype(int)
df['Tempo_como_Cliente'].unique()

array([ 1, 34,  2, 45, 52, 71, 10, 21, 12, 58, 49, 30, 47, 72, 17, 27,  5,
       46, 11, 70, 63, 13, 69, 43, 15, 25,  8, 60, 18, 66,  9,  3, 31, 50,
       64, 62, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37, 36, 41,  6,
        4, 33, 67, 23, 57, 61, 14, 22, 16, 20, 53, 40, 59, 24, 44, 19, 54,
       51, 28, 26,  0, 39])

In [225]:
df['PhoneService'] = df['PhoneService'].replace('Yes','Sim')
df['PhoneService'] = df['PhoneService'].replace('No','Não')
df['PhoneService'].unique()

array(['Não', 'Sim'], dtype=object)

In [227]:
df['Servico_Seguranca'] = df['Servico_Seguranca'].replace('Yes','Sim')
df['Servico_Seguranca'] = df['Servico_Seguranca'].replace('No','Não')
df['Servico_Seguranca'] = df['Servico_Seguranca'].replace('No internet service','Sem serviço de internet')
df['Servico_Seguranca'].unique()

array(['Não', 'Sim', 'Sem serviço de internet'], dtype=object)

In [229]:
df['Suporte_Tecnico'] = df['Suporte_Tecnico'].replace('Yes','Sim')
df['Suporte_Tecnico'] = df['Suporte_Tecnico'].replace('No','Não')
df['Suporte_Tecnico'] = df['Suporte_Tecnico'].replace('No internet service','Sem serviço de internet')
df['Suporte_Tecnico'].unique()

array(['Não', 'Sim', 'Sem serviço de internet'], dtype=object)

In [231]:
df['StreamingTV'] = df['StreamingTV'].replace('Yes','Sim')
df['StreamingTV'] = df['StreamingTV'].replace('No','Não')
df['StreamingTV'] = df['StreamingTV'].replace('No internet service','Sem serviço de internet')
df['StreamingTV'].unique()

array(['Não', 'Sem serviço de internet', 'Sim'], dtype=object)

In [233]:
df['Tipo_Contrato'] = df['Tipo_Contrato'].replace('Month-to-month','Mensal')
df['Tipo_Contrato'] = df['Tipo_Contrato'].replace('One year','Anual')
df['Tipo_Contrato'] = df['Tipo_Contrato'].replace('Two year','Bienal')
df['Tipo_Contrato'].unique()

array(['Mensal', 'Anual', 'Bienal'], dtype=object)

In [235]:
df['PaymentMethod'] = df['PaymentMethod'].replace('Electronic check','Cheque eletrônico')
df['PaymentMethod'] = df['PaymentMethod'].replace('Mailed check','Cheque enviado pelo correio')
df['PaymentMethod'] = df['PaymentMethod'].replace('Bank transfer (automatic)','Transferência bancária (automática)')
df['PaymentMethod'] = df['PaymentMethod'].replace('Credit card (automatic)','Cartão de crédito (automático)')
df['PaymentMethod'].unique()

array(['Cheque eletrônico', 'Cheque enviado pelo correio',
       'Transferência bancária (automática)',
       'Cartão de crédito (automático)'], dtype=object)

In [237]:
df['Churn'] = df['Churn'].replace('Yes','Sim')
df['Churn'] = df['Churn'].replace('No','Não')
df['Churn'].unique()

array(['Não', 'Sim'], dtype=object)

# [EXTRA] 4 - Caso deseje, para manter um padrão na sua base, renomeie as colunas ou deixand

In [240]:
df.rename(columns={'Dependents': 'Dependentes'}, inplace=True)
df.rename(columns={'PhoneService': 'Servico_Telefone'}, inplace=True)
df.rename(columns={'PaymentMethod': 'Forma_Pagamento'}, inplace=True)
df.drop(columns=['customerID'], inplace=True)

df.head(10)

,Genero,Idoso,Casado,Dependentes,Tempo_como_Cliente,Servico_Telefone,Servico_Internet,Servico_Seguranca,Suporte_Tecnico,StreamingTV,Tipo_Contrato,Forma_Pagamento,Pagamento_Mensal,Total_Pago,Churn
0,FEMININO,Não,Sim,Não,1,Não,DSL,Não,Não,Não,Mensal,Cheque eletrônico,29.850000,29.85,Não
1,MASCULINO,Não,Não,Não,34,Sim,DSL,Sim,Não,Não,Anual,Cheque enviado pelo correio,56.950000,1889.50,Não
2,MASCULINO,Não,Não,Não,2,Sim,DSL,Sim,Não,Não,Mensal,Cheque enviado pelo correio,53.850000,108.15,Sim
3,MASCULINO,Não,Não,Não,45,Não,DSL,Sim,Sim,Não,Anual,Transferência bancária (automática),65.607563,1840.75,Não
16,FEMININO,Não,Não,Não,52,Sim,NÃO,Sem serviço de internet,Sem serviço de internet,Sem serviço de internet,Anual,Cheque enviado pelo correio,65.607563,1022.95,Não
17,MASCULINO,Não,Não,Sim,71,Sim,FIBRA ÓTICA,Sim,Não,Sim,Bienal,Transferência bancária (automática),65.607563,7382.25,Não
18,FEMININO,Não,Sim,Sim,10,Sim,DSL,Não,Sim,Não,Mensal,Cartão de crédito (automático),65.607563,528.35,Sim
19,FEMININO,Não,Não,Não,21,Sim,FIBRA ÓTICA,Não,Não,Não,Mensal,Cheque eletrônico,65.607563,1862.90,Não
20,MASCULINO,Sim,Não,Não,1,Não,DSL,Não,Não,Não,Mensal,Cheque eletrônico,65.607563,39.65,Sim
21,MASCULINO,Não,Sim,Não,12,Sim,NÃO,Sem serviço de internet,Sem serviço de internet,Sem serviço de internet,Anual,Transferência bancária (automática),65.607563,202.25,Não